.Section2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Section2__Container{
    max-width:80%;
    width:70%;
    height:100%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(0,300px));
    place-content: center;
    gap:2rem;
}

@media(max-width:667px){
    .Section2__Container{
        grid-template-columns:repeat(auto-fill,minmax(0,270px));
        margin-top:10rem;
    }
}


